<div class="message">
    <div class="content text-center">
        <strong class="text-primary text-center">
            Bạn có chắc muốn đăng xuất?
        </strong>
        <div class="d-flex justify-content-sm-around">
            <button  class="btn">Hủy</button>
            <button  class="btn btn-danger">Đăng xuất</button>
        </div>
    </div>
</div>
