.background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    margin: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: change_images 20s infinite;
    font-family: 'Roboto', sans-serif;
}


@keyframes change_images {
    0% {
        background-image: url("/wwwroot/Images/bgMuado.jpg");
        background-position: left center;
    }

    33% {
        background-image: url("/wwwroot/Images/bgMarvel.png");
        background-position: center center;
    }

    66% {
        background-image: url("/wwwroot/Images/doraemon.jpg");
        background-position: right center;
    }

    100% {
        background-image: url("/wwwroot/Images/bgMuado.jpg");
        background-position: left center;
    }
}


@keyframes rainbow-move {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.text {
    background: linear-gradient( 90deg,#2c2c2c, #5a1f1f, #a67c00 );
    background-size: 400% 100%;
    background-clip: text;
    color: transparent;
    animation: rainbow-move 5s linear infinite;
    font-size: 25px;
}

.code{
    display:none;
}

.changePass{
    display:none;
}