
html, body {
    height: 100%;
    margin: 0;
}



body {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background-color: rgba(0,0,0,0.7);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

nav {
    background-color: #0d0d0d;
}

.navbar-brand {
    width: 100px !important
}




.search {
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

/* Hiện dropdown khi hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.minimum {
    display: none;
}

.maximum {
    display: block;
}

.dropdown-content {
    left: 0;
    top: 50px;
}


@media (max-width: 850px) {
    .maximum {
        display: none;
    }

    .minimum {
        display: block;
    }

    .navbar-nav li {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .dropdown-content {
        left: 200px;
        top: 0;
    }
}

.authentication {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    width: 100%;
    background-color: #0d0d0d;
    color: white;
    margin-top: 20px;
    padding-top: 10px;
}

    .footer a, li {
        color: white;
    }

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    flex: 1;
}

.iconAvatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

ul li a {
    font-size: 15px;
}

.message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, 0.9);
    border: solid blue 2px;
    border-radius: 20px;
    padding: 3%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
