.chosseimage {
    position: relative;
}

    .chosseimage button {
        position: relative;
        bottom: 10px;
        left: 12%;
        transform: translate(-50%, 0);
        height: 30px;
        width: 50px;
        text-align: center;
        border: none;
        background-color: rgba(255,255,255,0);
        font-size: 30px;
    }

        .chosseimage button:focus,
        .chosseimage button:active {
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
        }

 #pass{
     display:none;
 }

#regis{
    display:none;
}